@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.hero {
	overflow: hidden;
	position: relative;
	line-height: 0;
	font-size: 0;

	.image {
		width: 100vw;
		height: auto;
		object-fit: cover;
		object-position: top;
	}

	.infoWrap {
		position: absolute;
		inset: 0;
		padding-top: 160px;

		@include mobile {
			padding-top: 90px;
		}

		.subtitle {
			position: relative;
			display: inline-block;
			padding: 12px 24px;
			border-radius: 12px;
			background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
			backdrop-filter: blur(18px);
			-webkit-backdrop-filter: blur(18px);
			color: white;
			font-size: 20px;
			letter-spacing: 0.5px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			margin-bottom: 16px;

			@include mobile {
				font-size: 16px;
			}

			> span {
				font-weight: 700;
			}
		}

		.title {
			color: $color-light;
			font-size: 58px;
			font-weight: 700;
			line-height: 90%;
			padding-bottom: 20px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

			@include mobile {
				font-size: 30px;
				line-height: 110%;
			}

			> span {
				color: $color-primary;
				font-size: 40px;

				@include mobile {
					font-size: 30px;
				}
			}
		}

		@include mobile {
			.buttonWrap {
				width: fit-content;
			}
		}
	}

	// пагинация
	:global(.swiper-pagination-bullet) {
		width: 12px;
		height: 12px;
		background: transparent;
		opacity: 1;
		border: 1px solid $color-light;

		&:global(.swiper-pagination-bullet-active) {
			background: $color-light;
		}
	}

	:global(.swiper-pagination) {
		bottom: 30px !important;

		@media (max-width: 768px) {
			bottom: 20px !important;
		}
	}
}

