@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.footer {
	background-color: $color-bg;
	color: $color-light;
	padding: 32px 0;

	.iconsWrap {
		display: flex;
		justify-content: space-between;
		padding-bottom: 28px;
		border-bottom: 1px solid $color-transparent-light;

		@include mobile {
			flex-direction: column;
		}

		.logoImage {
			width: 245px;
			height: auto;
		}

		.social {
			display: flex;
			gap: 10px;
			color: $color-transparent-light;

			a:hover {
				color: $color-light;
			}
		}
	}

	.main {
		display: flex;
		padding-top: 32px;
		padding-bottom: 60px;
		justify-content: space-between;

		@include mobile {
			flex-direction: column;
			gap: 32px;
			padding-top: 20px;
			padding-bottom: 30px;

			> div:nth-child(1) { order: 1; }
			> div:nth-child(2) { order: 3; }
			> div:nth-child(3) { order: 4; }
			> div:nth-child(4) { order: 2; }
		}

		.form {
			.formTitle {
				font-size: 16px;
				margin-bottom: 16px;
			}

			.formInputs {
				display: flex;
				background-color: $color-transparent-light-gray;
				justify-content: space-between;
				align-items: center;
				height: 40px;
				padding: 8px 16px;
				margin-bottom: 10px;

				> input {
					flex: auto;
					width: 100%;
					background-color: transparent;
					border: none;
					outline: none;
					text-transform: uppercase;
					color: $color-gray;
				}

				> button {
					flex: none;
					background-color: transparent;
					border: none;
					outline: none;
					color: $color-light;
					cursor: pointer;
				}
			}

			.checkboxWrap {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 12px;
				line-height: 110%;
				width: fit-content;
				color: $color-gray;

				input[type="checkbox"] {
					display: none;
				}

				.checkbox {
					width: 20px;
					height: 20px;
					border: 1px solid $color-transparent-light;
					flex: none;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.policyLink {
					text-decoration: underline;
					padding-left: 4px;
				}
			}
		}

		.navModelsTitle {
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			color: $color-gray;
			margin-bottom: 20px;
		}

		.navModels {
			font-size: 14px;
			font-weight: 400;
			line-height: 120%;
			color: $color-light;
			display: flex;
			flex-direction: column;
			gap: 8px;

			.navLink {
				cursor: pointer;

				&:hover {
					color: $color-primary;
				}
			}
		}

		.navSections {
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			color: $color-gray;
			display: flex;
			flex-direction: column;
			gap: 8px;

			.navLink {
				cursor: pointer;

				&:hover {
					color: $color-primary;
				}
			}
		}

		.contactsTitle {
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			color: $color-gray;
			margin-bottom: 20px;
		}

		.contactsList {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.contactsItem {
				font-size: 14px;
				font-weight: 400;
				line-height: 120%;
				color: $color-light;
			}

			a.contactsItem:hover {
				color: $color-primary;
			}
		}
	}

	.info {
		padding-bottom: 16px;
		border-bottom: 1px solid $color-transparent-light;
		font-size: 12px;
		color: $color-transparent-light;

		@include mobile {
			border: none;
			padding-bottom: 0;
		}

		> p:not(:last-child) {
			padding-bottom: 10px;
		}
	}

	.links {
		font-size: 12px;
		line-height: 100%;
		font-weight: 400;
		color: $color-gray;
		padding-top: 16px;
		display: flex;
		justify-content: space-between;

		@include mobile {
			flex-direction: column;
			gap: 18px;
		}

		.link {
			text-decoration: underline;
		}
	}
}