@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.contacts {
	margin-bottom: 120px;

	@include mobile {
		margin-bottom: 60px;
	}

	.contactsTitle {
		font-size: 36px;
		line-height: 100%;
		font-weight: 400;
		padding-bottom: 40px;

		@include mobile {
			font-size: 24px;
			padding-bottom: 24px;
		}
	}

	.contactsWrap {
		display: flex;
		column-gap: 36px;

		@include mobile {
			flex-direction: column-reverse;
			row-gap: 15px;
		}

		.contactsInfo {
			flex: 1;

			@include mobile {
				flex: none;
			}

			.contactsInfoItem {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-top: 1px solid $color-light-gray;
				padding-top: 10px;

				&:not(:last-child) {
					padding-bottom: 40px;

					@include mobile {
						padding-bottom: 17px;
					}
				}

				.contactsInfoName {
					color: $color-gray;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 100%;
				}

				.contactsInfoValue {
					font-size: 14px;
					line-height: 100%;

					a {
						color: $color-dark;

						&:hover {
							color: $color-primary;
						}

						&.primaryPhone {
							color: $color-primary;
						}
					}

					&.contactsInfoSocial {
						display: flex;
						gap: 6px;
						align-items: center;

						a {
							display: flex;
							align-items: center;
							justify-content: center;
							color: $color-primary;
							transition: $transition-0-3s;

							&:hover {
								opacity: 0.7;
							}
						}
					}
				}
			}

			.contactsInfoInst {
				border-top: 1px solid $color-light-gray;
				padding-top: 20px;
				margin-top: 10px;
				font-size: 10px;
				line-height: 100%;
				color: $color-gray;

				@include mobile {
					border-top: none;
				}
			}
		}

		:global(#map) {
			flex: 1;

			@include mobile {
				height: 220px;
				flex: none;
			}
		}
	}
}

:global(.ymaps-2-1-79-map-copyrights-promo),
:global(.ymaps-2-1-79-copyright__promo),
:global(.ymaps-2-1-79-copyrights-pane) {
	display: none !important;
}
