@use "../../../shared/styles/variables" as *;

.mapError {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	height: 500px;

	.errorTitle {
		color: $color-primary;
		margin-bottom: 8px;
		font-size: 16px;
	}

	.errorMessage {
		color: $color-gray;
		font-size: 14px;
	}
}

.mapContainer {
	border-radius: 8px;
	position: relative;

	&.loading {
		background-color: #f0f0f0;
	}

	.loadingOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.loadingText {
			color: $color-gray;
			font-size: 14px;
		}
	}
}
