@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.loading {
	text-align: center;
	padding: 40px 0;
}

.error {
}

.stockModels {
	padding-bottom: 120px;

	@include mobile {
		padding-bottom: 60px;
	}

	.title {
		padding-bottom: 40px;
	}

	.cardWrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}

		.card {
			width: 100%;
			overflow: hidden;

			.imgWrap {
				position: relative;
				width: 100%;
				aspect-ratio: 16 / 9;

				.labelNew {
					position: absolute;
					top: 0;
					left: 0;
					background-color: $color-primary;
					color: $color-light;
					padding: 4px 10px;
					z-index: 1;
				}
				.labelOld {
					position: absolute;
					top: 0;
					left: 0;
					background-color: $color-light-gray;
					padding: 4px 10px;
					z-index: 1;
				}
				.mainSwiper {
					position: relative;

					.swiperSlide {
						position: relative;

						> a {
							.imageContainer {
								position: relative;
								width: 100%;
								height: 100%;
								aspect-ratio: 16 / 9;

								.image {
									object-fit: cover;
								}
							}
						}
					}

					// переопределение стилей для стрелок
					:global(.swiper-button-prev),
					:global(.swiper-button-next) {
						width: 22px;
						height: 22px;
						background: $color-light;
						border-radius: 50%;
						top: auto;
						bottom: 10px;
						transform: translateY(0);
						margin-top: 0;
						box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

						> svg {
							height: 10px;

							> path {
								fill: $color-primary;
							}
						}
					}

					:global(.swiper-button-prev) {
						left: 50%;
						transform: translateX(-25px);
					}

					:global(.swiper-button-next) {
						right: 50%;
						transform: translateX(25px);
					}

					:global(.swiper-button-disabled) {
						opacity: 0.5;
					}
				}
			}

			.infoWrap {
				.infoTop {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-top: 10px;

					.colorWrap {
						flex: none;
						border: 1px solid $color-light-gray;
						border-radius: 50%;
						width: 24px;
						height: 24px;
						display: flex;
						align-items: center;
						justify-content: center;

						.color {
							flex: none;
							width: 16px;
							height: 16px;
							border-radius: 50%;
							//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
						}
					}
				}

				.modelTitle {
					font-size: 24px;
				}

				.chars {
					display: flex;
					gap: 4px;
					flex-wrap: wrap;

					> span {
						border: 1px solid $color-light-gray;
						padding: 4px 8px;
						border-radius: 6px;
						font-size: 12px;
					}
				}

				.prices {
					display: flex;
					align-items: center;
					gap: 10px;

					.price {
						font-size: 24px;
					}

					.oldPrice {
						font-size: 16px;
						text-decoration: line-through;
						color: $color-light-gray;
					}
				}

				.btnWrap {
					padding-top: 10px;

					button {
						width: fit-content;
						padding: 0;
						text-decoration: underline;
						color: $color-primary;
						text-transform: none;

						&:hover {
							color: $color-dark;
						}
					}
				}
			}
		}
	}
}

.filters {
	display: flex;
	gap: 10px;

	@include mobile {
		flex-direction: column;
		width: 100%;
		gap: 6px;
	}

	.select {
		flex: 1;

		@include mobile {
			width: 100%;
			flex: auto;
		}
	}
}
.filtersInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;
	padding: 24px 0;

	@include mobile {
		gap: 10px;
		padding: 10px 0;
	}

	.resultsCount {
		flex: none;
	}

	.resetButton {
		width: fit-content;
	}
}
.noResults {
}

.showMoreWrap {
	padding-top: 40px;

	> button {
		margin: auto;
	}
}
