@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.loading {
	text-align: center;
	padding: 40px 0;
}

.error {
}

.equipments {
	margin-top: 120px;
	padding-bottom: 120px;

	@include mobile {
		margin-top: 60px;
		padding-bottom: 60px;
	}

	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
		gap: 20px;

		@include mobile {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 20px;
		}

		.title {
		}
	}

	.cardWrap {
		.card {
			@include fadeInCard;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			background-color: $color-more-light-gray;
			padding: 10px 16%;

			@include laptop {
				padding: 10px 4%;
			}

			@include mobile {
				display: flex;
				flex-direction: column;
				padding: 10px;
				margin-left: 10px;
				margin-right: 10px;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			.brandModelName {
				font-size: 24px;
			}

			.infoWrap {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				width: 100%;

				.name {
					flex: none;
					font-size: 20px;
					padding: 5px 10px;
					border: 1px solid $color-primary;
					color: $color-primary;
					border-radius: 20px;
					margin-bottom: 10px;
					width: fit-content;
					font-weight: 700;

					@include mobile {
						font-size: 14px;
						padding: 4px 10px;
						font-weight: 400;
					}
				}

				.chars {
					flex: auto;

					.charsItem {
						display: flex;
						justify-content: space-between;
						align-items: baseline;
						font-size: 16px;
						line-height: 120%;
						border-bottom: 1px solid $color-light-gray;
						padding: 6px;

						.charsTitle {
						}

						.charsValue {
						}
					}
				}

				.btnWrap {
					flex: none;
					display: flex;
					gap: 6px;

					@include tablet {
						flex-direction: column;
					}

					> button {
						flex: 1;

						@include tablet {
							flex: auto;
						}
					}
				}
			}

			.imageContainer {
				position: relative;
				min-height: 270px;
				width: 100%;

				@include mobile {
					min-height: 160px;
					overflow: hidden;
				}

				.image {
					object-fit: contain;
				}
			}
		}
	}
}

.filters {
	display: flex;
	gap: 10px;

	@include mobile {
		flex-direction: column;
		width: 100%;
		gap: 6px;
	}

	.select {
		width: 240px;

		@include mobile {
			width: 100%;
		}
	}
}

.showMoreWrap {
	padding-top: 40px;

	> button {
		margin: auto;
	}
}
