@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.actions {
	padding-top: 120px;

	.title {
		padding-bottom: 40px;
	}

	.card {
		background-color: $color-more-light-gray;
		padding: 24px;
		height: 235px;
	}

	.actions__controls {
		.btn__wrap {

		}
	}

}