*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus-visible {
	outline: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

ul,
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

img,
svg {
	max-width: 100%;
	height: auto;
	display: block;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	border-radius: 0;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
	border: none;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

button,
a {
	cursor: pointer;
	padding: 0;
}

p {
	margin: 0;
}
