@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.reels {
	padding-top: 120px;

	.reelsLine {
		display: flex;
		gap: 10px;

		.reelsItem {
			position: relative;
			max-height: 400px;
			border: 1px solid $color-light-gray;
			aspect-ratio: 9 / 16;
			cursor: pointer;

			.video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.play {
				position: absolute;
				inset: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $color-light;
				transition: scale 0.3s ease-in-out;
			}

			&:hover {
				.play {
					scale: 1.2;
				}
			}
		}
	}
}
