@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.loading {
	text-align: center;
	padding: 40px 0;
}

.error {

}

.models {
	margin-top: 120px;
	padding-bottom: 120px;

	@include mobile {
		margin-top: 60px;
		padding-bottom: 60px;
	}

	.title {
		padding-bottom: 40px;
	}

	.cardWrap {

		.card {
			position: relative;
			height: fit-content;
			display: flex;
			gap: 20px;
			max-height: 385px;
			overflow: hidden;

			@include tablet {
				flex-direction: column;
				max-height: fit-content;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}


			.imgWrap {
				position: relative;
				width: 60%;
				display: flex;
				gap: 20px;

				@include tablet {
					width: 100%;
					flex-direction: column-reverse;
					gap: 10px;
				}
			}

			.mainSwiper {
				position: relative;
				width: 100%;
				height: 100%;
				flex: auto;

				.swiperSlide {
					position: relative;
					aspect-ratio: 4 / 3;

					@include tablet {
						aspect-ratio: 16 / 9;
					}

					.imageContainer {
						position: relative;
						width: 100%;
						height: 100%;

						.image {
							object-fit: cover;
						}
					}


				}

				// переопределение стилей для стрелок
				:global(.swiper-button-prev),
				:global(.swiper-button-next) {
					width: 22px;
					height: 22px;
					background: $color-light;
					border-radius: 50%;
					top: auto;
					bottom: 10px;
					transform: translateY(0);
					margin-top: 0;
					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

					> svg {
						height: 10px;

						> path {
							fill: $color-primary;
						}
					}
				}

				:global(.swiper-button-prev) {
					left: 50%;
					transform: translateX(-25px);
				}

				:global(.swiper-button-next) {
					right: 50%;
					transform: translateX(25px);
				}

				:global(.swiper-button-disabled) {
					opacity: 0.5;
				}


			}

			.thumbSwiper {
				width: 64px;
				flex: none;
				height: 80%;
				margin: auto;

				@include tablet {
					height: 40px;
					width: 100%;
				}

				.thumbSlide {
					cursor: pointer;
					transition: opacity 0.3s ease;

					&:hover {

					}

					&.swiper-slide-thumb-active {
						opacity: 1;
					}
				}

				.thumbImage {
					object-fit: cover;
				}
			}

			.infoWrap {
				flex: auto;
				padding: 20px;
				border: 1px solid $color-light-gray;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				@include tablet {
					padding: 0;
					border: none;
				}

				> div:not(.list) {
					flex: none;
				}

				.modelTitle {
					margin: 0;
					font-size: 32px;
					font-weight: 400;
					line-height: 100%;
					padding-bottom: 10px;

					> span {
						color: $color-primary;
					}

					@include mobile {
						font-size: 20px;
					}
				}

				.list {
					flex: auto;
					display: flex;
					flex-direction: column;
					justify-content: center;

					@include mobile {
						padding: 10px 0 15px;
					}

					.listItem {
						display: flex;
						justify-content: space-between;
						align-items: baseline;
						border-bottom: 1px solid $color-light-gray;
						padding: 4px 0;

						&:not(:last-child) {
							margin-bottom: 4px;
						}

						.listTitle {
							font-size: 16px;

							@include mobile {
								font-size: 14px;
							}
						}

						.listValue {
							font-size: 20px;

							@include mobile {
								font-size: 14px;
							}
						}
					}
				}

				.prices {
					display: flex;
					align-items: center;
					gap: 12px;

					.price {
						color: $color-primary;
						font-size: 32px;
						font-weight: 400;
						line-height: 100%;
						margin-bottom: 6px;
					}

					.oldPrice {
						color: $color-gray;
						text-decoration: line-through;
						font-size: 14px;font-weight: 400;
						line-height: 100%;
					}
				}

				.creditPay {
					padding-bottom: 10px;
					font-size: 18px;
				}

				.btnWrap {
					display: flex;
					gap: 6px;

					@include tablet {
						flex-direction: column;
					}

					> button {
						flex: 1;

						@include tablet {
							flex: auto;
						}
					}
				}
			}

		}
	}

	.showMoreWrap {
		padding-top: 40px;

		> button {
			margin: auto;
		}
	}

}


// переключение цвета
.colorSelector {
	display: flex;
	gap: 4px;


	.colorButton {
		flex: none;
		padding: 4px;
		border: 1px solid transparent;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.2s ease;
		background-color: transparent;

		.color {
			width: 20px;
			height: 20px;
			border-radius: 50%;

			&.red {
				background-color: $color-primary;
			}

			&.green {
				background-color: #8bb998;
			}

			&.grey {
				background-color: $color-light-gray;
			}
			&.blue {
				background-color: #82a9c4;
			}
			&.black {
				background-color: $color-bg;
			}
		}
	}

	.colorButtonActive {
		border-color: $color-light-gray;
	}
}

.navWrap {
	width: 100%;
	position: relative;
	margin-bottom: 40px;

	.navImage {
		object-fit: contain;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.navInfo {
		font-weight: 700;
	}

	.swiperContainer {
		width: 100%;
		padding: 10px 0;
	}

	.swiperSlide {
		width: auto;

		@include desktop {
			flex: 1;
			min-width: 0;
		}

		@include mobile {
			max-width: 120px;
		}
	}

	.navItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: inherit;
		height: 100%;
		border: 1px solid $color-light-gray;
		padding: 10px;
		transition: all 0.2s ease-in-out;

		&:hover {
			border-color: $color-primary;
		}
	}

	.imageContainer {
		position: relative;
		width: 100%;
		height: 80px;

		@include mobile {
			width: 100px;
			height: 60px;
		}
	}
}






