@use '../../../shared/styles/variables' as *;

.loading {
	text-align: center;
	padding: 40px 0;
}

.title {
	padding-bottom: 40px;
}

.models {
	padding-top: 120px;
	padding-bottom: 120px;


	.cardWrap {

	}
	.card {
		height: fit-content;
		display: flex;
		gap: 20px;
		max-height: 385px;
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: 20px;
		}


		.imgWrap {
			position: relative;
			width: 50%;
			display: flex;
			gap: 20px;
		}

		.mainSwiper {
			width: 100%;
			height: 100%;
			flex: auto;

			.swiperSlide {
				aspect-ratio: 4 / 3;

				.image {
					object-fit: cover;
				}
			}


		}

		.thumbSwiper {
			width: 64px;
			flex: none;
			height: 80%;
			margin: auto;

			.thumbSlide {
				cursor: pointer;
				transition: opacity 0.3s ease;

				&:hover {

				}

				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}

			.thumbImage {
				object-fit: cover;
			}
		}

		.infoWrap {
			flex: auto;
			padding: 20px;
			border: 1px solid $color-light-gray;
		}

	}
}


