@use '../../../shared/styles/variables' as *;

.title {
	text-align: center;
}
.card {
	border: 1px solid $color-bg;
	padding: 20px;
	height: fit-content;


	.image {
		width: 100%;
		height: 400px;
	}
}
